<!-- <ion-item class="notification-item" [class.unread]="model?.unread"> -->
<ion-grid>
  <ion-row center>
    <ion-col width-10>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-col>
    <ion-col width-10>
      {{ model?.descMonth }}
    </ion-col>
    <ion-col width-30>
      {{ clientStore.getItem(model?.client).name }} {{ clientStore.getItem(model?.client).lastname }}
    </ion-col>
    <ion-col width-10>
      108.00 zł
    </ion-col>
    <ion-col width-10>
      <p><small>{{ model?.descDate }}</small></p>
    </ion-col>
    <ion-col width-10>
      <ion-badge>wysłane</ion-badge>
    </ion-col>
    <ion-col width-10>
      <ion-badge>opłacone</ion-badge>
    </ion-col>
    <ion-col width-10>
      <ion-icon name="create"></ion-icon>
      <ion-icon name="trash"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>


<!-- 
  - zaznaczenie (masowe wysyłanie, usuwanie)
  - miesiąc
  - klient
  - kwota
  - data utworzenia
  - wysłanie / data wysłania
  - dodanie wpłaty / data i kwota wpłaty
  - edycja
  - usunięcie
 -->
<!-- </ion-item> -->
