<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Baza ćwiczeń</ion-title>

    <ion-buttons end>
      <button>
        <ion-icon ios="ios-funnel-outline" md="md-funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="exercises">
  <ion-list *ngFor="let exercises of groups">
    <ion-list-header>
      {{exercises[0].category[0]}}
    </ion-list-header>

    <ion-item *ngFor="let exercise of exercises">
      {{exercise.name}}
    </ion-item>
  </ion-list>
</ion-content>
