.training-form {
  [padding-v-0] {
    padding-top: 0;
    padding-bottom: 0;
  }
  .refresh-button {
    float: right;
    margin: -4px 0 0;
  }
  .training-rejected span {
    white-space: normal;
  }
}
