<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Treningi</ion-title>

    <ion-buttons end>
      <button ion-button icon-only [hidden]="auth.isTrainer" (click)="showTrainingForm()">
        <ion-icon name="add"></ion-icon>
      </button>
      <notification-counter></notification-counter>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="trainings">
  <div padding [hidden]="!auth || !auth.isOwner">
    <ion-segment [(ngModel)]="place" (ionChange)="onPlaceChanged($event)">
      <ion-segment-button value="-KBHukjV0l8M-EkpTdI4">
        Hermanowska
      </ion-segment-button>
      <ion-segment-button value="-KBHulP5PtV-dGxyXPWl">
        Zwycięska
      </ion-segment-button>
    </ion-segment>
  </div>

  <div id="calendar" [hidden]="auth.isClient"></div>

  <div *ngIf="auth.isClient">
    <ion-list>
      <div *ngFor="let workout of workoutStore.list | groupWorkouts; let w = index" [attr.track]="workout.key">
        <ion-item-divider light *ngIf="workout.nextMonth" (click)="showMonth(workout.monthId)" [hidden]="workout.fixed || workout.timeStart == '' || workout.date == '2099-12-31'">{{ workout.month }}</ion-item-divider>
        <ion-item-sliding class="workouts-hidden month-{{ workout.monthId }}" [hidden]="workout.fixed || workout.completed || workout.timeStart == '' || workout.date == '2099-12-31'">
          <ion-item>
            <h3><strong>{{ workout?.timeStart }} - {{ workout?.timeEnd }}</strong>, {{ workout?.descDate }}</h3>
            <p>{{ placeStore.getItem(workout.place)?.title }}, <strong>{{ trainerStore.getItem(workout.trainer)?.title }}</strong></p>
            <button ion-button color="favorite" item-right *ngIf="workout.fullDate > changeDate" (click)="deleteTraining(workout)">Odwołaj</button>
            <button ion-button color="danger" item-right *ngIf="workout.fullDate < changeDate && workout.fullDate > currentDate" (click)="deleteTrainingLate(workout)">Odwołaj</button>
          </ion-item>
        </ion-item-sliding>
      </div>
    </ion-list>

    <ion-buttons padding>
      <button ion-button color="primary" block type="submit" (click)="showTrainingForm()">Dodaj trening</button>
    </ion-buttons>
  </div>
</ion-content>
