<ion-header>
  <ion-navbar>
    <ion-title>Rezerwacja treningu</ion-title>

    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Zamknij</span>
        <ion-icon name="close" hideWhen="ios"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top [hidden]="!auth || !auth.isClient || auth.username === 'mjastrzebowskix'">
    <div>
      <ion-segment [(ngModel)]="place" (ionChange)="onPlaceChanged($event)">
        <ion-segment-button value="-KBHukjV0l8M-EkpTdI4">
          Hermanowska
        </ion-segment-button>
        <ion-segment-button value="-KBHulP5PtV-dGxyXPWl">
          Zwycięska
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="training-reserve">
  <ion-list *ngIf="auth.isClient && available.length === 0">
    <ion-list-header>
      <ion-row center>
        <ion-col width-20>
          <ion-spinner name="dots" class="spinner-dots"><svg viewBox="0 0 64 64" style="left: 9px; animation-delay: 0ms; animation-duration: 750ms;"><circle transform="translate(32,32)" r="6"></circle></svg><svg viewBox="0 0 64 64" style="left: 0px; animation-delay: -110ms; animation-duration: 750ms;"><circle transform="translate(32,32)" r="6"></circle></svg><svg viewBox="0 0 64 64" style="left: -9px; animation-delay: -220ms; animation-duration: 750ms;"><circle transform="translate(32,32)" r="6"></circle></svg></ion-spinner>
        </ion-col>
        <ion-col>Sprawdzanie terminów...</ion-col>
      </ion-row>
    </ion-list-header>
  </ion-list>

  <form #trainingCreate="ngForm" novalidate>
    <div *ngIf="auth.isClient && auth.username === 'mjastrzebowskix'">
      <ion-list>
        <ion-item>
          <ion-label floating>Rodzaj rezerwacji</ion-label>
          <ion-select [(ngModel)]="filter.type">
            <ion-option value="workout">Trening</ion-option>
            <ion-option value="boxing">Boks</ion-option>
            <ion-option value="massage">Masaż</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="filter.type === 'massage'">
          <ion-item>
            <ion-label floating>Rodzaj masażu</ion-label>
            <ion-select [(ngModel)]="filter.massage">
              <ion-option value="klasyczny">klasyczny</ion-option>
              <ion-option value="odchudzająco - ujędrniający">odchudzająco - ujędrniający</ion-option>
              <ion-option value="bańką chińską - pośladki, uda, brzuch">bańką chińską - pośladki, uda, brzuch</ion-option>
              <ion-option value="bańką chińską - plecy, ramiona">bańką chińską - plecy, ramiona</ion-option>
              <ion-option value="limfatyczny obręczy kończyn dolnych">limfatyczny obręczy kończyn dolnych</ion-option>
              <ion-option value="limfatyczny obręczy kończyn górnych">limfatyczny obręczy kończyn górnych</ion-option>
              <ion-option value="masaż gorącymi kamieniami">masaż gorącymi kamieniami</ion-option>
              <ion-option value="masaż gorącymi kamieniami częściowy">masaż gorącymi kamieniami częściowy</ion-option>
              <ion-option value="masaż kijami bambusowymi">masaż kijami bambusowymi</ion-option>
              <ion-option value="masaż gorącym woskiem">masaż gorącym woskiem</ion-option>
              <ion-option value="masaż gorącymi olejkami">masaż gorącymi olejkami</ion-option>
              <ion-option value="masaż izometryczny">masaż izometryczny</ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="filter.massage">
            <ion-label floating>Czas trwania</ion-label>
            <ion-select [(ngModel)]="filter.duration">
              <ion-option value="30">30 min</ion-option>
              <ion-option value="45">45 min</ion-option>
              <ion-option value="60">60 min</ion-option>
              <ion-option value="90">90 min</ion-option>
            </ion-select>
          </ion-item>
        </div>
        <ion-item *ngIf="filter.type">
          <ion-label floating>Miejsce</ion-label>
          <ion-select [(ngModel)]="filter.place">
            <ion-option value="-KBHukjV0l8M-EkpTdI4" *ngIf="filter.type !== 'boxing'">Hermanowska</ion-option>
            <ion-option value="-KBHulP5PtV-dGxyXPWl">Zwycięska</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-card *ngIf="filter.place">
        <ion-card-header>
          <strong>Dostępne terminy:</strong>
          <button ion-button class="refresh-button" item-right small outline>
            <ion-icon name="refresh"></ion-icon>
            Odśwież
          </button>
        </ion-card-header>
        <ion-list>
          <ion-item-group *ngFor="let w of available">
            <ion-item-divider sticky>{{ w.descDate }}</ion-item-divider>
            <ion-item *ngFor="let hour of w.hours" (click)="selectHour(hour)">
              <h3>{{ hour.timeStart }} - {{ hour.timeEnd }}</h3>
              <button ion-button color="favorite" item-right>{{ hour.trainers.length }} dostępne</button>
              <!-- <p *ngFor="let trainer of hour.trainers">{{ trainer.title }}</p> -->
            </ion-item>
          </ion-item-group>
        </ion-list>
      </ion-card>
    </div>

    <ion-list *ngIf="auth.isClient && auth.username !== 'mjastrzebowskix'">
      <ion-item-group *ngFor="let w of available">
        <ion-item-divider sticky>{{ w.descDate }}</ion-item-divider>
        <ion-item *ngFor="let hour of w.hours" (click)="selectHour(hour)">
          <h3>{{ hour.timeStart }} - {{ hour.timeEnd }}</h3>
          <button ion-button color="favorite" item-right>{{ hour.trainers.length }} dostępne</button>
          <!-- <p *ngFor="let trainer of hour.trainers">{{ trainer.title }}</p> -->
        </ion-item>
      </ion-item-group>
    </ion-list>

    <ion-row responsive-sm>
      <ion-col>
        <button ion-button color="light" block (click)="dismiss()">Anuluj</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
