.company-detail {
  .company-header {
    padding: 90px 0 10px;
    img {
      margin-left: -75px;
      width: 150px;
      height: 150px;
      border: 4px solid #eee;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 10px;
      left: 50%;
    }
    h2 {
      padding: 70px 20px 20px;
      font-size: 32px;
    }
  }

  ion-scroll {
    height: 200px;
  }

  ion-grid ion-card {
    margin-bottom: 30px;
    ion-card-header {
      ion-icon {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: white;
        // font-size: 30px;
        vertical-align: middle;
      }
      h3 {
        display: inline-block;
        color: white;
        // font-size: 18px;
        text-transform: uppercase;
      }
    }
    &.card-places ion-card-header {
        background-color: color($colors, card-green);
    }
    &.card-employees ion-card-header {
      background-color: color($colors, card-violet);
    }
    &.card-clients ion-card-header {
      background-color: color($colors, card-orange);
    }
    ion-item {
      font-size: 14px;
      border-bottom: 1px solid #eee;
    }
    ion-buttons {
      padding: 10px 0;
    }
  }
}

@media screen and (min-width: breakpoint-min(md)) {
  .company-detail {
    .company-header {
      padding: 50px 0 30px 100px;
      img {
        margin: -25px 0 0 -90px;
        top: auto;
        left: auto;
      }
      h2 {
        padding: 20px 40px 20px 60px;
      }
    }
    .card-places ion-scroll {
      height: 100px;
    }
    .card-employees ion-scroll {
      height: 200px;
    }
    .card-clients ion-scroll {
      height: 385px;
    }
  }
}
