.menu-userbar .toolbar-content {
  padding-left: 1em;
  h1 {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 0;
  }
  h2 {
    font-size: 1rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: -0.5em;
  }
}


@media (min-width: $grid-responsive-lg-break) {
  .logged-owner-not {
    ion-menu {
      transform: translateX(0) !important;
      > ion-backdrop {
        display: none !important;
      }
    }
    ion-nav {
      left: 300px;
      width: calc(100% - 300px);
    }
    button [menutoggle], .bar-button-menutoggle {
      display: none;
    }
  }
}
