// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B,
  energized:  #ffc527,
  ego-red:    #e61c1c,
  card-violet: #8e24aa,
  card-green:  #37989c,
  card-orange: #da7a14,
  card-blue: #00acc1
);


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// @font-face {
//   font-family: 'Lato';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Lato'), url(../../assets/fonts/Lato-Regular.ttf) format('truetype');
// }
// @font-face {
//   font-family: 'Lato';
//   font-style: italic;
//   font-weight: 400;
//   src: local('Lato'), url(../../assets/fonts/Lato-Italic.ttf) format('truetype');
// }
// @font-face {
//   font-family: 'Lato';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Lato'), url(../../assets/fonts/Lato-Bold.ttf) format('truetype');
// }
// $font-family-base: 'Lato', sans-serif;
// $font-family-md-base: $font-family-base;
// $font-family-wp-base: $font-family-base;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// $outer-content-md-background-color: #efeff4;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";