// .menu-userbar .toolbar-content {
//   padding-left: 1em;
//   h1 {
//     font-size: 2.2rem;
//     font-weight: 400;
//     margin-bottom: 0;
//   }
//   h2 {
//     font-size: 1rem;
//     font-weight: 200;
//     text-transform: uppercase;
//     margin-bottom: -0.5em;
//   }
// }
// .content-md {
//   background-color: $outer-content-md-background-color;
// }
// .list-header-md {
//   color: $list-ios-header-color;
//   background-color: $list-ios-header-background-color;
// }

// .split-pane-visible > .split-pane-side {
//   order: 0;
// }

// .ion-page .header {
//   color: #fff;
//   .toolbar-background {
//     background: color($colors, ego-red);
//   }
// }

ion-modal.my-popup {
  @media (min-height: 500px) {
    ion-backdrop {
      visibility: visible;
    }
  }

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-overlay;

  display: flex;

  align-items: center;
  justify-content: center;

  contain: strict;
  .modal-wrapper {
    &,
    .ion-page,
    .ion-page .content,
    .ion-page .content .scroll-content {
      contain: content;
      position: relative;
      top: auto;
      left: auto;
    }

    z-index: $z-index-overlay-wrapper;
    display: flex;
    overflow: hidden;

    flex-direction: column;

    min-width: $alert-min-width;
    max-height: $alert-max-height;

    opacity: 0;

    height: auto;
    max-width: $alert-md-max-width;
    border-radius: $alert-md-border-radius;
    background-color: $alert-md-background-color;
    box-shadow: $alert-md-box-shadow;

    .ion-page .content {
      background-color: color($colors, light);
    }
  }
}

[center-col] {
  margin-left: auto;
  margin-right: auto;
  max-width: $grid-responsive-sm-break/2;
}

@media screen and (max-width: $grid-responsive-sm-break) {
  .hidden-sm {
    display: none !important;
  }
}
@media screen and (max-width: $grid-responsive-md-break) {
  .hidden-md {
    display: none !important;
  }
}

@media screen and (min-width: $grid-responsive-lg-break) {
  // disable sliding options on desktop
  ion-item-sliding {
    &.active-slide .item {
      transform: none !important;
    }
    ion-item-options {
      display: none !important;
    }
  }
  .logged {
    ion-menu#menuLeft {
      display: block !important;
      right: auto !important;
      width: 310px !important;
      > .menu-inner {
        transform: translateX(0) !important;
      }
      > ion-backdrop {
        display: none !important;
      }
    }
    ion-nav {
      left: 304px;
      width: calc(100% - 304px);
    }
    button [menutoggle], .bar-button-menutoggle {
      display: none;
    }
    .notification-button {
      display: block !important;
    }
  }
}

@media screen and (min-width: 1200px) {
  .logged {
    ion-menu#menuRight {
      display: block !important;
      left: auto !important;
      right: 0 !important;
      width: 310px !important;
      > .menu-inner {
        transform: translateX(0) !important;
      }
      > ion-backdrop {
        display: none !important;
      }
    }
    ion-nav {
      left: 304px;
      width: calc(100% - 608px);
    }
  }
}
