// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the various page imports which make up this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "./app.scss";

// components
@import "../components/admin/exercise-category/exercise-category-item/exercise-category-item";
@import "../components/bill/bill-list/bill-list";
@import "../components/bill/bill-item/bill-item";
@import "../components/notification/notification-item/notification-item";
@import "../components/notification/notification-counter/notification-counter";

// pages - common
@import "../pages/common/about/about";
@import "../pages/common/import/import";
@import "../pages/common/login/login";

// pages - admin
@import "../pages/admin/client/client-detail/client-detail";
@import "../pages/admin/trainer/trainer-detail-hours/trainer-detail-hours";
@import "../pages/admin/training/training";
@import "../pages/admin/training/training-scheduler/training-scheduler";
@import "../pages/admin/training/training-detail/training-detail";
@import "../pages/admin/training/training-history/training-history";
@import "../pages/admin/training/training-create/training-create";

// pages - trainer

// pages - client
@import "../pages/client/training/training-list/training-list";
@import "../pages/client/training/training-reserve/training-reserve";
