// .menu-userbar .toolbar-content {
//   padding-left: 1em;
//   h1 {
//     font-size: 2.2rem;
//     font-weight: 400;
//     margin-bottom: 0;
//   }
//   h2 {
//     font-size: 1rem;
//     font-weight: 200;
//     text-transform: uppercase;
//     margin-bottom: -0.5em;
//   }
// }
// .content-md {
//   background-color: $outer-content-md-background-color;
// }
// .list-header-md {
//   color: $list-ios-header-color;
//   background-color: $list-ios-header-background-color;
// }

@media screen and (max-width: $grid-responsive-sm-break) {
  .hidden-sm {
    display: none !important;
  }
}

@media screen and (min-width: $grid-responsive-lg-break) {
  // disable sliding options on desktop
  ion-item-sliding {
    &.active-slide .item {
      transform: none !important;
    }
    ion-item-options {
      display: none !important;
    }
  }

  .logged {
    ion-menu#menuLeft {
      display: block !important;
      right: auto !important;
      width: 310px !important;
      > .menu-inner {
        transform: translateX(0) !important;
      }
      > ion-backdrop {
        display: none !important;
      }
    }
    ion-nav {
      left: 304px;
      width: calc(100% - 304px);
    }
    button [menutoggle], .bar-button-menutoggle {
      display: none;
    }
    .notification-button {
      display: block !important;
    }
  }
}
