<ion-header>
  <ion-navbar>
    <ion-title>Trening {{training.no}}/{{training.cycle*8}} ({{training.cycle*8 + training.no}})</ion-title>

    <ion-buttons end>
      <button (click)="showHistory()">
        <ion-icon name="archive"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="training-detail">
  <div padding>
    <!-- <h1>Trening</h1> -->
    <h4><!-- <ion-icon name="person-outline" padding-right></ion-icon> -->{{training.client.name}}</h4>
    <h5><small>{{training.trainer}}</small></h5>
    <ion-row>
      <ion-col><ion-icon name="calendar" isActive></ion-icon> {{training.date}}</ion-col>
      <ion-col><ion-icon name="clock" isActive></ion-icon> {{training.timeStart}} &mdash; {{training.timeEnd}}</ion-col>
    </ion-row>
    <!-- <p><ion-icon name="map-outline" padding-right></ion-icon> {{training.location}}</p> -->
    <ion-item>
      <ion-label floating>Uwagi</ion-label>
      <ion-textarea [(ngModel)]="training.comment"></ion-textarea>
    </ion-item>
  </div>

  <ion-row responsive-sm padding-0 class="outer-content">
    <ion-col *ngFor="let exercise of training.exercises; let e = index">
      <ion-card>
        <ion-card-header [hidden]="!exercise.sets">
          {{e+1}}. {{exercise.name}}
        </ion-card-header>
        <ion-card-header ion-item [hidden]="exercise.sets">
          <ion-select [(ngModel)]="newExerciseKey" (ionChange)="setExercise()" style="max-width: 100%; width: 100%">
            <ion-option *ngFor="let newExercise of exerciseArray" value="{{newExercise.key}}">{{newExercise.name}}</ion-option>
          </ion-select>
        </ion-card-header>
        <ion-card-content text-center>
          <ion-row center class="set-header">
            <ion-col>Ciężar</ion-col>
            <ion-col>Powt.</ion-col>
            <ion-col width-25>Przerwa</ion-col>
            <ion-col width-10></ion-col>
          </ion-row>
          <ion-row center *ngFor="let set of exercise.sets; let s = index">
            <ion-col ion-item>
              <ion-input type="number" [(ngModel)]="set.weight"></ion-input>
            </ion-col>
            <ion-col ion-item>
              <!-- <ion-input type="text" [(ngModel)]="set.reps"></ion-input> -->
              <ion-select [(ngModel)]="set.reps">
                <ion-option value="1">1</ion-option>
                <ion-option value="2-4">2-4</ion-option>
                <ion-option value="4-8">4-8</ion-option>
                <ion-option value="8-12">8-12</ion-option>
                <ion-option value="12-15">12-15</ion-option>
                <ion-option value="15-20">15-20</ion-option>
                <ion-option value="20-25">20-25</ion-option>
                <ion-option value="25+">25+</ion-option>
              </ion-select>
            </ion-col>
            <ion-col ion-item width-25>
              <ion-input type="number" [(ngModel)]="set.break"></ion-input>
            </ion-col>
            <ion-col width-10>
              <button clear danger small (click)="removeLastSet(exercise)" [hidden]="s === 0 || s < exercise.sets.length-1">
                <ion-icon name="remove-circle"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
          <ion-buttons>
            <button outline small (click)="addSet(exercise)"><ion-icon name="add"></ion-icon> dodaj serię</button>
          </ion-buttons>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row center>
    <ion-col>
      <button small clear (click)="addExercise()"><ion-icon name="add"></ion-icon> dodaj ćwiczenie</button>
    </ion-col>
    <ion-col text-right>
      <button small favorite (click)="saveTraining()"><ion-icon name="checkmark"></ion-icon> ZAKOŃCZ TRENING</button>
    </ion-col>
  </ion-row>
</ion-content>
