<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <ion-title>Treningi</ion-title>

  <ion-buttons end>
    <button [hidden]="auth.isTrainer" (click)="showTrainingForm()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content class="trainings">
  <!-- <ion-searchbar primary
                 [(ngModel)]="queryText"
                 (input)="updateClients()"
                 placeholder="Szukaj">
  </ion-searchbar> -->
  <ion-list *ngIf="!loaded">
    <ion-list-header>
      <ion-row center>
        <ion-col width-20>
          <ion-spinner name="dots" class="spinner-dots"><svg viewBox="0 0 64 64" style="left: 9px; animation-delay: 0ms; animation-duration: 750ms;"><circle transform="translate(32,32)" r="6"></circle></svg><svg viewBox="0 0 64 64" style="left: 0px; animation-delay: -110ms; animation-duration: 750ms;"><circle transform="translate(32,32)" r="6"></circle></svg><svg viewBox="0 0 64 64" style="left: -9px; animation-delay: -220ms; animation-duration: 750ms;"><circle transform="translate(32,32)" r="6"></circle></svg></ion-spinner>
        </ion-col>
        <ion-col>Ładowanie treningów...</ion-col>
      </ion-row>
    </ion-list-header>
  </ion-list>

  <div id="calendar" [hidden]="auth.isClient"></div>

  <div *ngIf="auth.isClient" [hidden]="!loaded">
    <ion-list>
      <ion-item-sliding *ngFor="#workout of workouts | async; #w = index" #slidingItem [attr.track]="workout.key" [hidden]="workout.completed || workout.date == '2099-12-31'">
        <ion-item>
          <h3><strong>{{workout.timeStart}} - {{workout.timeEnd}}</strong>, {{workout.descDate}}</h3>
          <p>{{workout.place}}, <strong>{{workout.trainer}}</strong></p>
          <button favorite item-right *ngIf="workout.fullDate > changeDate" (click)="deleteTraining(workout)">Odwołaj</button>
          <button danger item-right *ngIf="workout.fullDate < changeDate && workout.fullDate > currentDate" (click)="deleteTrainingLate(workout)">Odwołaj</button>
        </ion-item>
      </ion-item-sliding>
    </ion-list>

    <ion-buttons padding>
      <button primary block type="submit" (click)="showTrainingForm()">Dodaj trening</button>
    </ion-buttons>
  </div>
</ion-content>
