<ion-grid class="notification-filter">
  <ion-row responsive-sm>
    <ion-col>
      <ion-item>
        <ion-label stacked>Miejsce</ion-label>
        <ion-select [(ngModel)]="filter.place">
          <ion-option value="" selected="true">- wszystkie -</ion-option>
          <ion-option *ngFor="let place of placeStore.list" [value]="place.key">{{ place?.title }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label stacked>Trener</ion-label>
        <ion-select [(ngModel)]="filter.trainer">
          <ion-option value="" selected="true">- wszyscy -</ion-option>
          <ion-option *ngFor="let trainer of trainerStore.list" [value]="trainer.key">{{ trainer?.title }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label stacked>Klient</ion-label>
        <ion-select [(ngModel)]="filter.client">
          <ion-option value="" selected="true">- wszyscy -</ion-option>
          <ion-option *ngFor="let client of clientStore.list" [value]="client.key">{{ client?.lastname }} {{ client?.name }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
