<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
    <ion-segment-button value="all">
      Bieżące
    </ion-segment-button>
    <ion-segment-button value="favorites">
      Odłożone
    </ion-segment-button>
  </ion-segment>

  <ion-buttons end>
    <button (click)="presentFilter()">
      <ion-icon ios="ios-funnel-outline" md="md-funnel"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>


<ion-content class="schedule">
  <ion-searchbar primary
                 [(ngModel)]="queryText"
                 (ionInput)="updateSchedule()"
                 placeholder="Szukaj">
  </ion-searchbar>

  <ion-list [hidden]="shownSessions === 0" show-reorder="true">
    <ion-item-group *ngFor="let client of clients; let c = index" [hidden]="client.hide">

      <ion-item-divider sticky>
        Dzisiaj
      </ion-item-divider>

      <ion-item-sliding *ngFor="let training of client.cycles[c].trainings; let t = index" #slidingItem [attr.track]="training.exercises[0].name | lowercase" [hidden]="training.hide">
        <button ion-item (click)="goToTrainingDetail(client.cycles[c], t)">
          <h3>{{client.name}}</h3>
          <p>
            {{training.timeStart}} &mdash; {{training.timeEnd}}: Trening {{t+1}}/{{client.cycles[c].size}}
          </p>
        </button>

        <ion-item-options>
          <button favorite (click)="leaveTraining(slidingItem, training)" *ngIf="segment === 'all'">Odłóż</button>
          <button danger (click)="editTraining(slidingItem, training)" *ngIf="segment === 'all'">Edytuj</button>
        </ion-item-options>

      </ion-item-sliding>

    </ion-item-group>

  </ion-list>

  <ion-list-header [hidden]="shownSessions > 0">
      Nie znaleziono treningów
  </ion-list-header>


</ion-content>
