<ion-card-header ion-item>
  <i item-left class="fa fa-clock-o"></i>
  <h3>Godziny pracy</h3>
  <button item-right ion-button icon-only clear (click)="edit()">
    <i item-left class="fa fa-pencil"></i>
  </button>
</ion-card-header>

<ion-card-content no-padding>
  <ion-list *ngIf="model?.days?.length">
    <span *ngFor="let day of model?.days">
      <ion-item *ngIf="day">
        {{ utils.weekdays[day[0].day] }}
        <ion-note item-end>
          <span *ngFor="let hour of day">{{ hour.start }}-{{ hour.end }}, </span>
        </ion-note>
      </ion-item>
    </span>
  </ion-list>

  <p *ngIf="!model?.days?.length">
    Brak ustalonych godzin pracy
  </p>
</ion-card-content>
