<ion-header>
  <ion-navbar>
    <ion-title>Zaplanowane urlopy</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span showWhen="ios">Zamknij</span>
        <ion-icon name="close" hideWhen="ios"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="employee-detail-vacations has-header">
  <form #form="ngForm" novalidate>
    <ion-list>
      <ion-item-sliding *ngFor="let vacation of model">
        <ion-item *ngIf="!vacation.delete">
          <div pln-hour-col ion-item item-content>
            <ion-label>Początek</ion-label>
            <ion-datetime displayFormat="DD.MM.YYYY HH:mm" pickerFormat="DD.MM.YYYY 'godz.' HH:mm" [hourValues]="utils.getBussinesHoursArray()" minuteValues="0,15,30,45" [(ngModel)]="vacation.start" name="start{{ vacation.id }}" (ionChange)="vacation.update = true"></ion-datetime>
          </div>
          <div pln-hour-col ion-item item-content>
            <ion-label>Koniec</ion-label>
            <ion-datetime displayFormat="DD.MM.YYYY HH:mm" pickerFormat="HH:mm" [hourValues]="utils.getBussinesHoursArray()" minuteValues="0,15,30,45" [(ngModel)]="vacation.end" name="end{{ vacation.id }}" (ionChange)="vacation.update = true"></ion-datetime>
          </div>
          <div pln-hour-col item-right class="hidden-sm">
            <button ion-button icon-left clear color="danger" small (click)="remove(vacation)">
              <ion-icon name="trash"></ion-icon> Usuń
            </button>
          </div>
        </ion-item>
        <ion-item-options side="right" icon-left>
          <button ion-button color="danger" (click)="remove(vacation)">
            <ion-icon name="trash"></ion-icon> Usuń
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-buttons padding text-center>
        <button ion-button icon-left outline small (click)="add()"><ion-icon name="add"></ion-icon> dodaj urlop</button>
      </ion-buttons>
    </ion-list>

    <ion-row responsive-sm>
      <ion-col>
        <button ion-button color="primary" block type="submit" (click)="save()">Zapisz zmiany</button>
      </ion-col>
      <ion-col>
        <button ion-button color="light" block (click)="dismiss()">Anuluj</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
