<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{client?.name}} {{client?.lastname}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="client-detail">
  <ion-list>
    <button ion-item (click)="showClientProfile(client)">
      <ion-icon name="contact" item-left></ion-icon>
      Profil
    </button>

    <ion-item large>
      <ion-icon name="clipboard" item-left></ion-icon>
      <h2>Treningi</h2>
      <p>• zrobione: {{ trainingsDone?.size }}
        <small *ngIf="trainingsDoneLast"> (ostatni: <i>
          {{ trainingsDoneLast?.dateTime }},
          {{ placeStore.getItem(trainingsDoneLast.place).title }},
          {{ trainerStore.getItem(trainingsDoneLast.trainer).alias }})
      </i></small></p>
      <p>• zaplanowane: {{ trainingsTodo?.size }}
        <small *ngIf="trainingsTodoNext"> (następny: <i>
          {{ trainingsTodoNext?.dateTime }},
          {{ placeStore.getItem(trainingsTodoNext.place).title }},
          {{ trainerStore.getItem(trainingsTodoNext.trainer).alias }})
      </i></small></p>
    </ion-item>

    <ion-item>
      <ion-icon name="calendar" item-left></ion-icon>
      <h2>Grafik</h2>
      <p *ngFor="let training of trainingsScheduled"> •
        {{ training?.weekDay }} {{ training?.timeStart }},
        {{ placeStore.getItem(training.place).title }},
        {{ trainerStore.getItem(training.trainer).alias }}
      </p>
      <p *ngIf="!trainingsScheduled.size">
        • brak stałych treningów
      </p>
    </ion-item>

    <button ion-item disabled>
      <ion-icon name="body" item-left></ion-icon>
      Pomiary
    </button>
    <button ion-item (click)="showClientBilling(client)">
      <ion-icon name="cash" item-left></ion-icon>
      Rachunki
    </button>

    <button ion-item (click)="showClientAccess(client)">
      <ion-icon name="key" item-left></ion-icon>
      Dostęp
      <ion-note item-right>
        <span *ngIf="client.active">aktywny</span>
        <span *ngIf="!client.active">nieaktywny</span>
      </ion-note>
    </button>
  </ion-list>
</ion-content>

<!--
<ion-footer>
  <ion-toolbar position="bottom">
    <ion-row>
      <ion-col text-center>
        <button clear><ion-icon name="call"></ion-icon></button>
      </ion-col>
      <ion-col text-center>
        <button clear><ion-icon name="text"></ion-icon></button>
      </ion-col>
      <ion-col text-center>
        <button clear><ion-icon name="mail"></ion-icon></button>
      </ion-col>
      <ion-col text-center>
        <button clear><ion-icon name="contact"></ion-icon></button>
      </ion-col>
      <ion-col text-center>
        <button clear><ion-icon name="document"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
-->
