<ion-header>
  <ion-navbar>
    <ion-title>Godziny pracy</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span showWhen="ios">Zamknij</span>
        <ion-icon name="close" hideWhen="ios"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="trainer-detail-hours has-header">
  <form #trainerForm="ngForm" novalidate>
    <ion-list *ngFor="let day of days">
      <ion-list-header padding-v-0>{{ utils.weekdays[day] }}</ion-list-header>
      <ion-item-sliding *ngFor="let hour of trainerDays[day]">
        <ion-item *ngIf="!hour.delete">
          <div ego-col ion-item item-content>
            <ion-label>Początek</ion-label>
            <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" minuteValues="0,15,30,45" [(ngModel)]="hour.start" name="start{{ hour.id }}" (ionChange)="hour.update = true"></ion-datetime>
          </div>
          <div ego-col ion-item item-content>
            <ion-label>Koniec</ion-label>
            <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" minuteValues="0,15,30,45" [(ngModel)]="hour.end" name="end{{ hour.id }}" (ionChange)="hour.update = true"></ion-datetime>
          </div>
          <div ego-col item-right class="hidden-sm">
            <button ion-button icon-left clear color="danger" small (click)="remove(hour)">
              <ion-icon name="trash"></ion-icon> Usuń
            </button>
          </div>
        </ion-item>
        <ion-item-options side="right" icon-left>
          <button ion-button color="danger" (click)="remove(hour)">
            <ion-icon name="trash"></ion-icon> Usuń
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-buttons padding text-center>
        <button ion-button icon-left outline small (click)="add(day)"><ion-icon name="add"></ion-icon> dodaj godziny</button>
      </ion-buttons>
    </ion-list>

    <ion-row responsive-sm>
      <ion-col>
        <button ion-button color="primary" block type="submit" (click)="save()">Zapisz godziny</button>
      </ion-col>
      <ion-col>
        <button ion-button color="light" block (click)="dismiss()">Anuluj</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
