<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ćwiczenie</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showExerciseCreate()">
        <ion-icon name="add"></ion-icon>
      </button>
      <notification-counter></notification-counter>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h1> {{ model?.name }} </h1>

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-8>
        <h5>Wykonanie</h5>
        <p> {{ model.description }} </p>
        <h5>Uwagi</h5>
        <p>Ćwiczenie to skutecznie sprzyja rozwojowi mięśni naramiennych. Jeżeli ciężko jest Ci je wykonywać to możesz skorzystać z kilku ułatwień np. wypychając sztangę do góry możesz pomóc sobie nogami lub "wejść pod sztangę", czyli przesunąć tułów w przód. Sztangę można chwytać na dwa sposoby - nachwytem zamkniętym, który jest bezpieczniejszy lub nachwytem otwartym (polecany osobom zaawansowanym). Chwyt otwarty polega na ułożeniu kciuka po przeciwnej stronie niż reszta palców. Łokcie można ustawić prostopadle, jednak należy trzymać je z przodu ciała. Stopy powinny być stabilnie oparte o podłoże. Przed wykonywaniem serii właściwych należy pamiętać o odpowiedniej rozgrzewce.</p>
      </ion-col>
      <ion-col col-12 col-md-4>
        <h5>Kategoria</h5>
        <p> {{ model.category?.name }}</p>
        <h5>Sprzęt</h5>
        <p *ngFor="let link of model.equipments"> {{ link?.equipment?.name }} </p>
        <h5>Główne mięśnie</h5>
        <p *ngFor="let link of model.muscles"> {{ link?.muscle?.name }} </p>
        <h5>Mięśnie pomocnicze</h5>
        <p *ngFor="let link of model.musclesSecondary"> {{ link?.muscle?.name }} </p>
        <div id="muscle-front" class="muscle-background" style="float: left; width: 90px; height: 138px; background-size: 75px; background-repeat: no-repeat; background-image: url(http://wger.de/static/images/muscles/secondary/muscle-2.svg),url(http://wger.de/static/images/muscles/secondary/muscle-4.svg),url(http://wger.de/static/images/muscles/muscular_system_front.svg);"></div>
        <div id="muscle-back" class="muscle-background" style="float: left; width: 90px; height: 138px; background-size: 75px; background-repeat: no-repeat; background-image: url(http://wger.de/static/images/muscles/main/muscle-5.svg),url(http://wger.de/static/images/muscles/muscular_system_back.svg);"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <img src="http://img.everkinetic.com/?action=image&id=417&number=1&key=69cadbdd2&version=94540045&size=320,320">
  <img src="http://img.everkinetic.com/?action=image&id=417&number=0&key=69cadbdd2&version=a040433d&size=320,320">
</ion-content>
